<div class="sk-form-container">
  	<form [ngFormModel]="companyForm" (ngSubmit)="onSubmit()">
  		<h3>Add new</h3>
  		<div class="ui form">
			<div class="field ui" [ngClass]="{error: !companyForm.find('name').valid && companyForm.find('name').touched}">
				<label>Name:</label>
				<input type="text" name="name" [ngFormControl]="companyForm.controls['name']"/>
			</div>
			<div class="field ui" [ngClass]="{error: !companyForm.find('email').valid && companyForm.find('email').touched}">
				<label>Country</label>
				<input type="text" name="email" [ngFormControl]="companyForm.controls['email']"/>
			</div>
			<div class="field ui" [ngClass]="{error: !companyForm.find('description').valid && companyForm.find('description').touched}">
				<label>Description (max 120):</label>
				<input type="text" name="description" [ngFormControl]="companyForm.controls['description']"/>
			</div>
			<div class="field ui" [ngClass]="{error: !companyForm.find('telNumber').valid && companyForm.find('telNumber').touched}">
				<label>Tel number:</label>
				<input type="text" name="telNumber" [ngFormControl]="companyForm.controls['telNumber']"/>
			</div>
			<button type="submit" class="positive ui large button" [ngClass]="{disabled: !companyForm.valid}">Add</button>
  		</div>
  	</form>
</div>

<div class="sk-main-list">
  	<h3 class="sk-column-header">Newest</h3>
  	<!--<single-company class="ui segment" *ngFor = "#company of companies" [company]="company" (click)="onSelect(company,$event)" [class.raised]="company===selectedCompany"></single-company>
-->

</div>

