<div class="sk-list-item">
    <a href="">
        <div class="column">
            <div class="ui grid">
                <div class="two wide center aligned column">
                    <div class="ui statistic">
                        <div class="label">Votes</div>
                    </div>
                    <div class="sk-list-item buttons">
                            <i class="plus icon"></i>
                            <i class="minus icon"></i>
                    </div>
                </div>
                <div class="fourteen wide column">
                    <div class="sk-list-item-right">
                        <h4>{{company.name | lowercase}}</h4>
                        <span class="label">{{company.email}}</span>
                        <p>{{company.description | slice:0:30 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
